@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>

<div class="text-center">
    <a href="@Url.Action("RedirectToNewTask", "Task")" class="btn btn-secondary">Add New Task</a>
    <a href="@Url.Action("RedirectToScheduledTasks", "Task")" class="btn btn-secondary">View and Manage Tasks</a>

</div>