@using ToDoListMVC.Controllers
@{
    ViewData["Title"] = "Home Page";
}
<style>

</style>

<div class="text-center">
    <h1 class="display-4">Welcome to To-Do List.</h1>
    <h3>You can find Instructions above, or move to task management below.</h3>
    <a href="@Url.Action("Index", "Task")" class="btn btn-secondary">Tasks</a>
</div>