@using ToDoListMVC.Controllers
@{
    ViewData["Title"] = "Home Page";
}
<style>
    head, body, html {
        background-color: #121212;
        color: #e0e0e0;
    }
    
    a {
        color: #bb86fc;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("Index", "Task")" class="btn btn-secondary">Tasks</a>
</div>