@{
    ViewData["Title"] = "Instructions";
}
<h1>@ViewData["Title"]</h1>

<h5>To-Do List</h5>
<p>1. App requires user to be logged in.</p>
<p>2. After registration / succesful login, user can go to task management by clicking the button on the homepage.</p>
<p>3. User can add new task or view / manage tasks by choosing the button.</p>

<h6>Add task</h6>
<p>1. Tasks are being assigned to the users.</p>
<p>2. User should select date and shortly described the task (Name)</p>
<p>3. After submitting the form, user will be redirected to previous page.</p>

<h6>Task view / manage</h6>
<p>1. User can select date to print tasks</p>
<p>2. Tasks can be Edited, Deleted or marked as Done.</p>
<p>3. If user mark the task as Done, buttons will be grayed-out.</p>
<p>4. Task edition is same as task addition process. User specify the date and name.</p>
<p>5. If user delete the task, it will disappear.</p>